.button {
background: $blue;
border: none;
border-radius: 3px;
display: inline-block;
font-size: $font-size-large;
font-weight: 300;
line-height: 1;
padding: $s-size;
color: white;
text-decoration: none;
}

.button--link {
    background: none;
}

.button--edit {
    background: $dark-grey;
}